{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      1,
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js"
        ]
      }
    },
    "no-unused-vars": [
      1,
      {
        "allow": [
          "next"
        ]
      }
    ]
  }
}