{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      1,
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-unused-vars": [
      0,
      {
        "vars": "next",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "import/extensions": [
      0,
      "always",
      {
        "ignorePackages": true
      }
    ]
  }
}